@use "@angular/material" as mat;

// Define primary, accent, and warn palettes
$primary: mat.$deep-purple-palette;
$accent: mat.$light-blue-palette;
$warn: mat.$red-palette;

// Define hues for each palette's light & dark theme
$primary-light-hue-default: 500;
$primary-light-hue-light: 400;
$primary-light-hue-dark: 600;

$primary-dark-hue-default: 200;
$primary-dark-hue-light: 100;
$primary-dark-hue-dark: 400;

$accent-light-hue-default: 800;
$accent-light-hue-light: 600;
$accent-light-hue-dark: 900;

$accent-dark-hue-default: 200;
$accent-dark-hue-light: 100;
$accent-dark-hue-dark: 400;

$warn-light-hue-default: 800;
$warn-light-hue-light: 700;
$warn-light-hue-dark: 900;

$warn-dark-hue-default: 100;
$warn-dark-hue-light: 50;
$warn-dark-hue-dark: A100;

// The following are set using the variables above:
// Define Angular Material theme palettes (palette, default, light, dark)
$palette-primary-light: mat.define-palette(
  $primary,
  $primary-light-hue-default,
  $primary-light-hue-light,
  $primary-light-hue-dark
);
$palette-primary-dark: mat.define-palette(
  $primary,
  $primary-dark-hue-default,
  $primary-dark-hue-light,
  $primary-dark-hue-dark
);

$palette-accent-light: mat.define-palette(
  $accent,
  $accent-light-hue-default,
  $accent-light-hue-light,
  $accent-light-hue-dark
);
$palette-accent-dark: mat.define-palette(
  $accent,
  $accent-dark-hue-default,
  $accent-dark-hue-light,
  $accent-dark-hue-dark
);

$palette-warn-light: mat.define-palette(
  $warn,
  $warn-light-hue-default,
  $warn-light-hue-light,
  $warn-light-hue-dark
);
$palette-warn-dark: mat.define-palette(
  $warn,
  $warn-dark-hue-default,
  $warn-dark-hue-light,
  $warn-dark-hue-dark
);

// Get Angular Material foreground & background palettes
$palette-foreground-light: mat.$light-theme-foreground-palette;
$palette-foreground-dark: mat.$dark-theme-foreground-palette;

$palette-background-light: mat.$light-theme-background-palette;
$palette-background-dark: mat.$dark-theme-background-palette;

// Define primary colors

// Background
$background-light: mat.get-color-from-palette(
  $palette-background-light,
  background
);
$background-dark: mat.get-color-from-palette(
  $palette-background-dark,
  background
);

// Foreground
$foreground-light: mat.get-color-from-palette($palette-foreground-light, base);
$foreground-dark: mat.get-color-from-palette($palette-foreground-dark, base);

// Primary
$primary-light: mat.get-color-from-palette($palette-primary-light);
$primary-dark: mat.get-color-from-palette($palette-primary-dark);

$primary-light-contrast: mat.get-contrast-color-from-palette(
  $palette-primary-light,
  $primary-light-hue-default
);
$primary-dark-contrast: mat.get-contrast-color-from-palette(
  $palette-primary-dark,
  $primary-dark-hue-default
);

// Accent
$accent-light: mat.get-color-from-palette($palette-accent-light);
$accent-dark: mat.get-color-from-palette($palette-accent-dark);

$accent-light-contrast: mat.get-contrast-color-from-palette(
  $palette-accent-light,
  $accent-light-hue-default
);
$accent-dark-contrast: mat.get-contrast-color-from-palette(
  $palette-accent-dark,
  $accent-dark-hue-default
);

// Warn
$warn-light: mat.get-color-from-palette($palette-warn-light);
$warn-dark: mat.get-color-from-palette($palette-warn-dark);

$warn-light-contrast: mat.get-contrast-color-from-palette(
  $palette-warn-light,
  $warn-light-hue-default
);
$warn-dark-contrast: mat.get-contrast-color-from-palette(
  $palette-warn-dark,
  $warn-dark-hue-default
);

// Dividers
$divider-light: mat.get-color-from-palette($palette-foreground-light, divider);
$divider-dark: mat.get-color-from-palette($palette-foreground-dark, divider);
