@use "@angular/material" as mat;

// Define font family variables
$font-family-body: Roboto, "Helvetica Neue", sans-serif;
$font-family-heading: $font-family-body;

// Define custom typography config (size, line-height, weight, font-family, letter-spacing)
$app-typography: mat.define-typography-config(
  $body-1: mat.define-typography-level(1rem, 1.5, 400, $font-family-body),
  $body-2: mat.define-typography-level(1rem, 1.5, 500, $font-family-body),
  $subheading-1:
    mat.define-typography-level(1.25rem, 1.5, 400, $font-family-heading),
  $subheading-2:
    mat.define-typography-level(1.5rem, 1.5, 400, $font-family-heading),
  $title: mat.define-typography-level(1.75rem, 1.5, 500, $font-family-heading),
  $headline: mat.define-typography-level(2rem, 1.5, 400, $font-family-heading),
  $display-1:
    mat.define-typography-level(2.5rem, 1.5, 400, $font-family-heading),
  $display-2: mat.define-typography-level(3rem, 1.5, 400, $font-family-heading),
  $display-3: mat.define-typography-level(4rem, 1.5, 400, $font-family-heading),
  $display-4: mat.define-typography-level(8rem, 1.5, 300, $font-family-heading),
  $caption: mat.define-typography-level(0.9rem, 1.5, 400, $font-family-body),
  $button: mat.define-typography-level(1rem, 1, 500, $font-family-body),
  $input: mat.define-typography-level(1rem, 1, 400, $font-family-body),
);
