// To customize your theme, modify styles/_preferences.scss.
// See styles/_mixins.scss for useful mixins (and add your own!).

@use "styles/theme/reset"; // CSS reset by Josh W. Comeau
@use "styles/theme/material"; // Angular Material custom theme
@use "styles/variables"; // CSS custom properties from theme preferences

html,
body {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}

hr {
  border: 1px solid var(--theme-divider);
  margin: 1rem 0;
}

a {
  color: var(--theme-primary-default);
}
